<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, excepturi totam magnam ad officiis sequi amet nesciunt assumenda eveniet nulla necessitatibus ducimus rem consectetur, perspiciatis magni atque ullam nemo tempora dolorum deleniti? Hic doloribus enim architecto corporis quos! Similique, officiis.</p>
</body>
</html>